<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
(ngSubmit)="OnSbmit()"
[formGroup]="recipeForm"
>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
      Name
    </label>
    <input
    formControlName="name"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">
      description
    </label>
    <input
    formControlName="description"
    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text"
     >
  </div>
     <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Image
      </label>
      <input
      formControlName="imageUrl"
      class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
      id="image" type="text"
       #img>
        
       <img *ngIf="img.value" [src]="img.value" alt="recpImg">
  </div>
<div formArrayName="ingS" class="mb-6">
<div [formGroupName]="i" *ngFor="let item of GetIngredients; let i=index">
  <input type="text"
  formControlName="name">
  <input type="number"
  formControlName="amount">
  <button (click)="DeleteIngrediant(i)" class="btn btn-danger" type="button" >
    X
   </button>
</div>
<button type="button" class="btn btn-light m-3" (click)="AddIngredint()">Add new Ingredient +</button>
</div>
  <div class="flex items-center justify-between">
    <button *ngIf="IsAdd; else NotAdd" class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">
      Add      
    </button>
    <ng-template #NotAdd>
    <button class="btn btn-secondary" type="submit" [disabled]="!recipeForm.valid">
      Update
     </button>
   
    </ng-template>
    <button (click)="cancel()" class="btn btn-secondary" type="button">
      cancel
     </button>
  </div>
</form>