
    
    
    <div class="dropdown" appDropdownToggle>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
 
   
      <h2>{{recipeDetail.name}}</h2>
      <p>{{recipeDetail.description}}</p>
      <img [src]="recipeDetail.imageUrl">
      <p *ngFor="let ing of recipeDetail.ingS">==>>>> {{ing.name}}  {{ing.amount}}</p>
      <button (click)="AddToShopping()" class="btn btn-secondary">
        AddToShoppList
      </button>
      <button (click)="Edit()" class="btn btn-secondary">
        Edit
      </button>
