<form  (ngSubmit)="Submit()" #f="ngForm">
    <div class="form-group ">
      <label  for="name">
        name
      </label>
      <input #name class="form-control" id="name" type="text" placeholder="name"
      name="name"
      ngModel
      required>
    </div>
    <div class="form-group">
      <label  for="amount">
        amount
      </label>
      <input #amount class="form-control" id="amount" type="number" placeholder="amount"
      name="amount"
      ngModel
      required
      pattern="^[1-9]+[0-9]*$"
      >
    </div>
    <div class="flex items-center justify-between">
      <button  class="btn btn-success m-2" type="submit" [disabled]="! f.valid">
        {{isUpdated?"Update": "Add"}}
      </button>
      <button   class="btn btn-danger m-2" type="button">
        Delete
      </button>
      <button  (click)="Clear()" class="btn btn-primary m-2" type="button">
        clear
      </button>
    </div>
  </form>
